from flask import Flask, render_template, request, redirect, url_for
import pyodbc

app = Flask(__name__)

# Define your database connection parameters
server = '192.168.10.214'
database = 'TrainingDB'
conn = pyodbc.connect(f'Driver=ODBC driver 17 for sql server;Server={server};Database={database};Trusted_Connection=yes;')

@app.route('/')
def sss():
    return render_template('SSS.html')


@app.route('/submit', methods=['POST'])
def submit():
    success_message = None  # Initialize success_message as None

    if request.method == 'POST':
        first_name = request.form['firstName']
        last_name = request.form['lastName']
        member_number = request.form['memberNumber']
        currency = request.form['currency']

        cursor = conn.cursor()
        cursor.execute("INSERT INTO Registerform (Firstname, Lastname, Membernumber, Currency) VALUES (?, ?, ?, ?)",
                       (first_name, last_name, member_number, currency))
        conn.commit()

        success_message = "Registration completed successfully!"  # Set success_message to indicate success

    return render_template('SSS.html', success_message=success_message)

if __name__ == '__main__':
    app.run(debug=True)
